@charset "UTF-8";

/* Page */
html {
    height: auto;
    width: 100%;
    color: white;
    background-color: #101016;
}

/*The whole content */
html body {
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #202024;
    width: 95%;
    height: 100%;
    max-width: 1400px;
}

header {
}

header img {
    width: 100%;
    height: auto;
}

/* Main content of the page*/
main {
    height: 100%;
    width: 100%;
    background-color: #202024;
}


footer {
    height: 100px;
    background-color: #202024;
}






/*--- Main section for image navigation display ---*/

ul.card-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center
}

ul.card-holder li{
    flex: 0 0 30%;
    transition: all linear 0.3s;
}

ul.card-holder li:hover {
    flex: 0 0 31%;
    transition: all linear 0.3s;
}

ul.card-holder li a {
}





    
/* Header title return 
html body main header a:any-link {
    text-decoration: none;
    text-align: center;
    margin: 10px 0px;
}

*/


/* All logo containers images */
.ImageWidthContainer img {
    width: 100%;
}

.ImageWidthContainer iframe {
    width: 100%;
    height: auto;
    min-height: contain;
}

.ImageHeightContainer img {
    height: 100%;
}

/* Links */
a:active, a:visited, a:link {
    color: white;
}
