@charset "UTF-8";

/* Page */
html {
	height: 100%;
	width: 100%;
	color: white;
}

/*The whole content */
html body {
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #101016;

    width: 95%;
    height: 100%;
    max-width: 1400px;
    gap: 2vw;
}


/*-------------- SIDE SECTION ---------------*/

/* IGNORE, coming back maybe eventually idk */

/*Side Section */
html body aside#SideSection {
    height: auto;
    background-color: #202024;
}

/* Side Section Title */
html body aside#SideSection h1 {
    text-align: center;
    margin: 5px 0;
}


/*-------------- MAIN SECTION ---------------*/


html body main {
    margin: 0 auto;
}
/* Main Header */
html body main header {
    display: flex; 
    flex-direction: column;
    background-color: #101016;
}

/* Header title return */
html body main header a:any-link {
    text-decoration: none;
    text-align: center;
    margin: 10px 0px;
}



/* Article Container Box */
html body main article {
    height: 100%;
}

/* List of blogs */
html body main article ul#Articles {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

/* Blog list items */
html body main article ul#Articles li {
    background-color: #202024;
}

/* Blog items titles */
html body main article ul#Articles li aside h3 {
    text-align: center;
}

    /* Blog items titles */
    html body main article ul#Articles li aside h4 {
        margin: 0px 20px;
    }


    /* Blog items titles */
    html body main article ul#Articles li aside h5 {
        text-align: center;
    }


html body main article ul#Articles li aside p {
    width: 95%;
    margin: 5px auto;
}






/* Blog list items */
html body main article ul#Articles li {
    flex: 1 1 40%;
    margin: 5px;
    min-width: 20%;
}
