/*Import Font Face */
@font-face {
	font-family: "GT America Mono";
	src: url(../GeneralStyleSheets/Fonts/GTAmericaMonoRegular/GTAmericaMonoRegular.woff2) format("woff2"), url(../GeneralStyleSheets/Fonts/GTAmericaMonoRegular/GTAmericaMonoRegular.woff) format("woff"), url(../GeneralStyleSheets/Fonts/GTAmericaMonoRegular/GTAmericaMonoRegular.ttf) format("ttf");
	font-display: swap;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video c{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*-----------------------------------*/
/* General Text ---------------- */
h1, h2, h3, h4, h5, h6 {
	font-family: 'GT America Mono';
}

p, label {
	font-family: Saitamaar;
}

h1 {
	font-size: clamp(1em, 6vw, 4vw);
}

h2 {
	font-size: clamp(1em, 4vw, 4vw);
}

h3 {
	font-size: clamp(1em, 3vw, 4vw);
}

h4 {
	font-size: clamp(1em, 2vw, 4vw);
}

p {
	font-size: clamp(1.4em, 1vw, 2vw);
}


/*-----------------------------------*/

/* Expandable sections */

#Expandable {
	flex: 1;
}

/* Read more section is automaticly hidden */
.read-more-state {
	display: none;
}

.read-more-target {
	opacity: 0;
	max-height: 0;
	font-size: 0;
	transition: .25s ease;
}

/* Select the read more button when checked, first sibling that is a read more target*/
.read-more-state:checked + .read-more-target {
	opacity: 1;
	font-size: inherit;
	max-height: 999em;
}

/* Change read more button text to show more */
.read-more-state ~ .read-more-trigger:before {
	content: 'read more...';
}

/* Change read more button text to show less */
.read-more-state:checked ~ .read-more-trigger:before {
	content: 'collapse!';
}

/*Read more button trigger  */
.read-more-trigger {
	cursor: pointer;
	display: inline-block;
	color: #666;
	text-decoration: underline;
}

/* All logo containers images */
#ImageWidthContainer img {
	width: 100%;
}

#ImageWidthContainer iframe {
	width: 100%;
	height: auto;
	min-height: contain;
}

#ImageHeightContainer img {
	height: 100%;
}

/* Links */
a:active, a:visited, a:link {
	color: white;
}

/* Links of sources*/
aside ul {
	width: 100%;
	text-align: center;
}




