/*Import Charset */
@charset "UTF-8";
/* Import Google Font Arimo */
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

/*
    General Design
    decription: for a desktop user, the user will scroll 
    down to different sections that have a breif description
    of what they lead to. Their is space pig that moves left
    and right acorss the screen as each section as an object on
    either left or right. The background is empty space. 
*/






    html {
    background-color: black;
    }

    

    body {
        
    z-index: 0;
    font-family: 'Arimo', sans-serif;

    overflow-x: hidden; /* Hide horizontal scrollbar */
    }

    /*
    InterSections
    
    description: Deadicated sections of the page
    each the width of the whole screen and height of 80%.
*/
    
    header.intersection {
        background-image: url("Pictures/MoonSurface.png");
        background-repeat: no-repeat;
        background-size: cover;   
    }

    .intersection {
    margin: auto auto;
    height: 80vh;
    }

    /*
        Space Pig
    should only be seen when on a desktop version,
    might turn him to scroll bar for phones but for 
    now we will just hide him.
    */

    div#SpacePigContainer {
    display: none;
    }

    


    


   

    
    /*==============================
        Small Phone Web Design
    ================================
    */
    @media only screen and (max-width: 600px) {
        
        html {
            background-color: red;
        }
    
    }
    
    /*==============================
        Small Devises Web Design
    ================================
    */
    @media only screen and (min-width: 600px) and (max-width: 767px) {
        /*Should apear without space pig appearance*/

        
         html {
            background-color: black;
            
         }


        /*Inersection height*/
        .intersection {
            height: 100vh;
        }

                   
        /*Moon picture*/
        header.intersection {
            background-size: contain;
        }

        /*First header section */
        header.intersection section {
            width: 70vw;
            height: 100vh;
            position:absolute;
            left: 15vw;
         }

        /* Navigator container */
        header.intersection section div {
            position: absolute;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 2;     
        }


        /* Title section of navigator*/
        header.intersection section div header {
            height: 15vh;
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            color: green;
            border-top: 1vh solid white;
            border-left: 1vw solid white;
            border-right: 1vw solid white;
            text-overflow: ellipsis;
            white-space: nowrap;
            background-color: rgb(51, 50, 50);
        }        

                    /*The navigator header*/
            header.intersection section div header nav {
                flex: 3;
                height: 100%;
                               
            }

                        header.intersection section div header nav ul {
                            position: relative;
                            margin-top: 10%;
                            margin-bottom: 4%;
                            height: 50%;
                            
                        }

            /*The Navigator Header Text */
            header.intersection section div header nav ul li {
                font-size: 3em;
                width: 100%;
                text-align: center;
                z-index: -1;
                float: left;
                color: green;
                                
                                
            }

                    /* The buttons on navigator */
                    header.intersection section div header button {
                        flex: 1;
                        font-size: 2em;
                        
                    }

                /* text of the navigator */
                header.intersection section div aside {
                    height: 30vh;
                    width: 100%;
                    background-color: grey;
                    opacity: 0;
                    border-bottom: 1vh solid white;
                    border-left: 1vw solid white;
                    border-right: 1vw solid white;
                    display: flex;
                    transition: opacity 0.5s ease-in;
                }

        /*Styles for text area of navagation box*/
        #navText .navagationAbout {
            position: relative;
            margin: 2vh 5vw;
            color: green;
            font-size: 1.2em;
            overflow-y: auto;
            height: 38vh;
        }


        /*On hover make navagation text area visable */
        header.intersection section:hover > div aside {
            opacity: 100;
        }
        /* Set city size and animation smoothing */
        header.intersection section img {
            position: relative;
            width: 100%;
            top: -1.5vh;
            transition: transform 0.5s ease-in-out;
        }
        /* City image that overlays the text area */
        header.intersection section:hover > img {
            transform: translateY(55vh);
        }


        /* Second Section =============== */

        section.intersection:nth-child(2) {
        }

            /*Pig station container */
            section.intersection:nth-child(2) div#SpacePigStationContainer {
                width: 30vw;
            }

                /* Pig Station image */
                section.intersection:nth-child(2) div#SpacePigStationContainer img {
                    position: relative;
                    left: 5vw;
                    width: 100%;
                    transition: transform 0.5s ease-in-out;
                }

                /*Rotates, enlarge and roate the space station to be readable*/
                section.intersection:nth-child(2) div#SpacePigStationContainer:hover > img {
                    transform: translateX(15vw) translateY(20vh) scale(2) rotate(-45deg);
                }


       
    }
    
    /*==============================
        Medium Devises Web Design
    ================================
    */
    @media only screen and (min-width: 768px) {
        
        
    }

    /*==============================
        Large Desktop Web Design 992
    ================================
    */
    @media only screen and (min-width: 768px) 
    {

        html {
            background-color: black;
        }

        /*Inersection height*/
        .intersection {
            height: 80vh;
        }

        
        /* 
            Space Pig:
            Desktop mode has space pig fly between sections from left to right with smooth animations. 
        */
        
        div#SpacePigContainer {
        display: block;
        pointer-events: none;
        
        /* Put space pig on own layer */
        z-index: 1;
        /*Space pig always sticky */
        position: fixed;
        
        height: 0vh;
        width: 30vw;
        top: 25vh;
        left: 10vw;
        margin: 0 auto;
        /* Smooth animations for left and right */
        transition: transform 0.5s ease-in-out;
    }

        img#SpacePig {
        /*Hide pig clickable */
        pointer-events: none;
        /*Set pig to width of container*/
        width: 100%;
        /*Set spinning forever */
        animation: rotation 5s infinite linear;
    } 
        
    
        /*Animation for pig rotating*/
        @keyframes rotation {
            from {
                transform: rotate(0deg);
            }
            to{
                transform: rotate(359deg);
            }
        }  

        /*
            Move Space Pig back to start position 
        when hovering on header
        */
        .intersection:nth-child(1):hover ~ #SpacePigContainer{
            transform: translateX(0vw);
        }

        /* 
            Moves the space pig to the left side 
        when on odd number.
        */
        .intersection:nth-child(2n+3):hover ~ #SpacePigContainer{
            transform: translateX(0ww);
        }

        /*
            Moves the space pig to right side 
        when on even number.
        */
        .intersection:nth-child(2n):hover ~ #SpacePigContainer{
        transform: translateX(50vw);
        }

        /*
            Right section of header
        first thing the user sees, a city with a down arrow.
        Top of city has a down arrow, on hover it will 
        "Blast the city off " revealing text section 
        */

        header.intersection section {
            width: 40vw;
            left: 50vw;
            top: 10vh;
            height: 50vh;
            position: absolute;
        }

        /* Navigator container */
        header.intersection section div {
            position: absolute;
            top:0px; 
            width: 100%;
            height: 100%;
            z-index: 2;
        }  


        /* Title section of navigator*/
        header.intersection section div header {
            height: 12vh;
            padding: 0;
            width: 38vw;
            display: flex;
            flex-direction: row;
            color: green;
            border-top: 1vh solid white;
            border-left: 1vw solid white;
            border-right: 1vw solid white;   
            text-overflow: ellipsis;
            white-space: nowrap;
            background-color: rgb(51, 50, 50);
            

        }

        /*The navigator header*/
        header.intersection section div header nav{
            flex: 3;
            height: 100%;
        }

        header.intersection section div header nav ul {
            position: relative;
            margin-top: 6%;
            margin-bottom: 4%;
            height: 50%;
            
        }

        /*The Navigator Header Text */
        header.intersection section div header nav ul li{
            font-size: 2em;
            width: 100%;
            text-align: center;
            z-index: -1;
            float: left;
            color: green;

        }

        /* The buttons on navigator */
        header.intersection section div header button {
            flex: 1;

        }    

        /* text of the navigator */
        header.intersection section div aside {
            height: 40vh;    
            width: 38vw;
            background-color: grey;
            opacity: 0;
            border-bottom: 1vh solid white;
            border-left: 1vw solid white;
            border-right: 1vw solid white;   
            display: flex;
            
            transition: opacity 0.5s ease-in; 
        }   

        /*Styles for text area of navagation box*/
        #navText .navagationAbout {
            position: relative;
            margin: 2vh 5vw;
            color: green;
            font-size: 1.2em;
            overflow-y: auto;
            height: 38vh;
        }


        /*On hover make navagation text area visable */
        header.intersection section:hover > div aside {
            opacity: 100;
        }    
        /* Set city size and animation smoothing */
        header.intersection section img {
            position:relative;
            width: 100%;  
            top: -1.5vh;
            transition: transform 0.5s ease-in-out;
        }
        /* City image that overlays the text area */
        header.intersection section:hover > img {
            transform: translateY(55vh);

        }
        
        
        /* Second Section =============== */
        
        section.intersection:nth-child(2) {
            
        }
        
        /*Pig station container */
        section.intersection:nth-child(2) div#SpacePigStationContainer {
            width: 30vw;
            
        }
        
        /* Pig Station image */
        section.intersection:nth-child(2) div#SpacePigStationContainer img {
            position: relative;
            left: 5vw;
            width: 100%;
            transition:  transform 0.5s ease-in-out;
        }

        /*Rotates, enlarge and roate the space station to be readable*/
            section.intersection:nth-child(2) div#SpacePigStationContainer:hover > img {
                transform: translateX(-15vw) translateY(-20vh) scale(1.5) rotate(-45deg);
            }

        /*Increase opacity of text of space station text area*/
        

    
}

    


/*
    To BIG
*/

@media only screen and (min-width: 2000px) {
    
    
    html{
        background-color: pink;
    }
    
    body{
        
    }
    
    h1{
        color: blue;
    }
    
    header.intersection {
    margin: auto auto;
    height: 100vh;
    
    /*color for debugging
    background-color: aliceblue
    */
    }
}





