
header {
    width: 90%;
    background-color: #3C230F;
    color: #fcb318;
    margin: auto;
    text-align: center;
}


header h1 {
    font-size: calc(1em + 5vw);
}

header p {
    font-size: calc(1em + 2vw);
}

article {
    display: flex;
    flex-flow: row wrap;
    background-color: darkgoldenrod;
    width: 90%;
    margin: auto;
    color: #fcb318;
    justify-content: flex-start;
    align-items: stretch;
}

article aside {
    flex: 1;
    height: max-content;
    margin: 10px;
    background-color: grey;
    text-align: center;
    min-width: 200px;
    
}

article aside h2 {
    font-size: calc(1em + 2vw);
     
}

article aside img {
    width: 100%;
}
