/* Page background */
html {
    background-image: url("../aidenPictures/lake.JPG");
}





/* Container for content on main page */
article {
    display: flex;
    flex-flow: row wrap;
    background-color: darkgoldenrod;
    justify-content: space-evenly;
    margin: auto;
    color: #fcb318;
    align-content: center;
    
}

/* Content containers */
article aside {
    flex: 1;
    margin: 10px;
    text-align: center;
    min-width: 300px;
    
    
}

/* Content titles  */
article aside h2 {
    font-size: calc(1em + 2vw);
     background-color: grey;
     
}

/* Content pictures */
article aside a img {
    width: 100%;
    
}

/* content descriptions */
article aside p {
    background-color: #3c230f;
    border: 5px solid black;
}
