/* Page background */
html {
    background-image: url(../aidenPictures/River1.JPG);
}


/*Whole section */
article {
    background-color: grey;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Container for each image sectino */
article aside {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px;
    flex: 1;
   justify-content: center;
}

/* Image container */
article aside div {
    flex: 1;
    
}

/*Image its self*/
article aside div img {
    width: 100%;
}

article aside p {
    flex: 1;
    text-align: left;
    width: 50%;
    padding: 2%;

}