/* Page background */
html {
    background-image: url(../aidenPictures/boats.jpeg);
}


/*Whole section */
article {
    background-color: grey;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Container for each image sectino */
article aside {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px;
    flex: 1;
   justify-content: center;
}

/* Image container */
article aside div {
    flex: 1;
    margin: auto;
    
}

/*Image its self*/
article aside div img {
    width: 100%;
}

article aside p {
    flex: 1;
    text-align: left;
    padding: 3%;
    font-size: 2em;
    margin: auto;
    width: 80%;
    background-color: rgb(77, 43, 18);
} .flex-center { align-items: center; justify-content: center; flex-direction: column; } 