/* Page backgorund */
html {
    background-image: url("../aidenPictures/River1.JPG")
}

/* Container for content */
html body article {
    color: #fcb318;
    background-color: darkgoldenrod;
}

/* Head text */
html body article h2 {
    background-color: grey;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: calc(1em + 2vw);
    border: 5px solid black;
    border-bottom: none;
}

/* Tips list */
html body article ol {
    background-color: #3c230f;
    width: 80%;
    margin: auto;
    border: 5px solid black;
    list-style: decimal;
    border-bottom: none;
}

/* List items */
html body article ol li {
    width: 90%;
    margin: 15px auto;
    font-size: calc(1em + 0.5vw);
}