

/*Page Header */
body header {
    flex: 1;
    padding: 2vh 5vw;
    margin: 0 10vw;
    min-height: 100px;
    height: 200px;
    max-height: 20vh;
    display: flex;
    flex-direction: row;

    min-width: 100vh;
    
}


/* Title of Air port */
body header h1 {
   flex: 1;
   background-color: purple;
}





/* Navigation menu */
body header nav {
    flex: 1;
    background-color: blue;
    text-decoration: none;
}