html {
    background-color: black;
}

body {
    background-color: red;
    margin: 0 5%;
    height: 100vh;
    padding: 5vh 5vw;
}

body header {
    padding: 5vh 2vw;
    display: flex;
    flex-direction: row;
    height: 50vh;
    border: 5px solid black;
    border-radius: 5%;
}

/* The frame of my profile pic */
body header div {
    width: 50%;
}

body header div img{
    background-color: lightblue;
    border: 5px solid black;
    border-radius: 30%;
    height: 100%;
}

body header article {
    
    padding: 2% 5%;
    width: 45%;
}