/* Default layout for research pages */
html {
    height: 100%;
    width: 100%;
}

    html body {
        margin: auto;
    }

    html body header {
        width: 100%;
        position: relative;

    }
    html body header div {
        display: flex;
    }

    html body header div h2, html body header div img {
        width: 50%;
    }

    

    html body header a#Return {
        color: white;
        font-size: 5vw;
        font-weight: bold;
        text-decoration: none;
        position: absolute;
        top: 2%;
        right: 5%;
    }


    html body article {
        display: flex;
        flex-direction: row;
    }

    html body aside {
        flex: 1;
    }

/* Small devises */
@media only screen and (max-width: 600px) {
    html body {
        width: 100%;
    }
}

/* Medium devises */
@media only screen and (max-width: 1000px) and (min-width: 601px) {
    html body {
        width: 95%;
    }
}

/* Large devises */
@media only screen and (min-width: 1001px) {
    html body {
        width: 80%;
    }

    
    
}
