@charset "UTF-8";



/* Whole page */
body {
    display: flex;
    height: 100vh;
    color: black;
}

/* Text area */
section {
    width: 38vw;
    padding: 20vh 8vw;
}

/*My name */
body section h2 {
    white-space: nowrap;
}

/* Summary */
section h6 {
    text-align: right;
    margin: 4vh 0;
    padding-right: 0vw;
}

/* Navigation to site areas */
section nav {
    margin-top: 2vh;
    height: 10vh;
    justify-content: space-around;
   
    white-space: nowrap;
}


    section nav ul li {
        width: 20vw;
        display: inline-block;
        height: 7vh;
        list-style: none;
        text-decoration: none;
        text-align: center;
        font-size: calc(1em + 1.5vw);
    }

  
    section nav ul li a {
        font-size: calc(1em + 0.8vw);
        color: black;
        text-decoration: none;
    }

    section nav ul li a:hover {
        background-color: grey;
    }








/* JS L-systems canvas*/
canvas {
    
    width: 50vw;
    height: 100%;
    
}

/* Reset button styling */
button {
    position: absolute;
    z-index: 1;
    right: 2%;
    bottom: 1%;
    background: none;
    border: none;
    cursor: pointer;
    
}

/*Button text */
    button h4 {
        color: black;
        transition: transform 0.25s ease-in;
        
    }
/* Hover button text*/
button:hover h4{
    transform: rotate(-360deg);
}






