

body {
	background-color: black;
}
body div#sun {
	
	
	
	border-radius: 50%;
	overflow: hidden;
	/*Glow */
	/*
	box-shadow: 0 0 60px -20px rgba(255, 189, 3, 0.72), -14px -15px 40px -10px rgba(255, 238, 191, 0.23);
	*/

	box-shadow: 0 0 50px 10px rgba(255, 189, 3, 0.72);

	width: 50%;
	height: 300px;
	
}



body div#sun div.mask {
	
	width: 100%;
	height: 100%; 
	
	
	/*box-shadow:inset -10px -10px 40px #251303, inset 10px 10px 30px -10px rgba(255, 204, 159, 0.6);*/

	 border-radius:50%;
}


#sun .background {
	background: url(../Pictures/SunSurface.jpg) repeat-x;
	background-size: cover;
	width: 100%;
	height: 300px;
	animation: translateBackground 30s infinite linear;
	opacity: 0.9;
	transform: rotate(180deg);
}


@keyframes translateBackground {
	0% {
		background-position-x: 0;
		
	}

	100% {
		background-position-x: -1000px;
	}
}


