@charset "UTF-8";


/* Whole page */
body {
    height: 100vh;
    color: blue;
    display: flex;
    flex-direction: column;
}

/* Text area */
section {
    flex: 1;
    width: 90vw;
    margin: 0 5vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Page Title / My name */
section h2 {
    margin-top: 5vh;
}

/* Summary */
section h6 {
    width: 60vw;
    margin: 3vh 15vw;
}

section nav {
    margin-top: 6vh;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    
}

section nav a {
   flex: 1;
   text-align: center;
   text-decoration: none;
   color: black;
}

/* highlight hover area */
nav a:hover ~ div {
    background-color: #aeb0b5;
}

/* highlight hover area */
nav a:first-child:hover ~ div {
    left: 10vw;
}


/* Highlight div for hover*/
section nav div {
    position: fixed;
    z-index: -1;
    width: 35vw;
    
    left: 55vw;
    color: transparent;
    font-size: calc(0.5em + 4vw);
    transition: left 0.1s linear;
}


/* JS L-systems canvas*/
canvas {
    flex: 1;
    transform: rotate(180deg);
}
